[submodule "KCP"]
	path = KCP
	url = https://github.com/yangguosdxl/KCP.git
[submodule "socket.core"]
	path = socket.core
	url = https://github.com/fengma312/socket.core.git
[submodule "UniRx"]
	path = UniRx
	url = https://github.com/yangguosdxl/UniRx.git
[submodule "MineCase"]
	path = MineCase
	url = https://github.com/dotnetGame/MineCase.git
[submodule "MessagePack-CSharp"]
	path = MessagePack-CSharp
	url = https://github.com/neuecc/MessagePack-CSharp.git
[submodule "UIWidgetsTest/Packages/com.unity.uiwidgets"]
	path = UIWidgetsTest/Packages/com.unity.uiwidgets
	url = https://github.com/UnityTech/UIWidgets.git
[submodule "opentk"]
	path = opentk
	url = https://github.com/opentk/opentk.git
